*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}
body{
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.container{
    width: 25%;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 10px;
}
.container img{
    width: 100%;
    border-radius: 10px;
}
.container .content{
    width: 80%;
    text-align: center;
    margin: 20px auto;
}
.container .content h2{
    margin-bottom: 10px;
    font-weight: 700;
}
.container .content p{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}
@media (max-width: 375px){
    .container{
        width: 80%;
    }
}